html, body {
    width: 200px;
    margin: 0;
}

.hidden {
    display: none;
}

.info {
    padding: 5px;
}

#error-content {
    color: #c1202c
}

#button-content {
    margin: auto;
}

a {
    text-decoration: none;
    color: #5da15d;
}

table{
    border-collapse:collapse;
    width: 100%;
}

tr, td, button {
    border: none;
    padding: 0;
}

.menu-item:hover {
    opacity: 50%;
    background-color: #95f495;
    cursor: pointer;
}

.disabled {
    opacity: 30%;
    background-color: #e1e1e1;
    cursor: default;
    pointer-events:none;
    color: #7d7d7d;
}

.menu-item img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.disabled img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 70%;
}
