/* CONTENT */

.simplify {
    /*background-color: #e6ffff,*/
    text-decoration:underline;
    text-decoration-style: dotted;
    /*text-decoration-color: #a44fff;*/
    text-decoration-color: #fe9276;
}
.simplify:hover {background: #ffdac4;}

/* EZREAD INTERFACE */

.ezread {
    color: white;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 100000;
    background: #333333;
    margin: 0;
}

#ezread_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /*background: #43314b;*/
    border-bottom: 2px solid #fe9276;
    /*height: 30px;*/
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 50px;
}

#login_form input {
    color: white;
    width: 95%;
    background: transparent;
    border: none;
    border-bottom: 1px dashed #616161;
    outline: none;
}

#login_form input:focus {
    border-bottom: 1px dashed #fe9276;
}

#login_form .buttons {
    position: relative;
    margin-top: 10px;
}

#login_form .buttons button {
    color: white;
    width: 95%;
    padding: 6px;
    margin-bottom: 5px;
}

button {
    cursor: pointer;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fe9276;
    z-index: 100001;
    /*background: #616161;*/
    background: #333333;
    height: 25px;
    border: 1px solid transparent;
    border-color: #fe9276;
    border-radius: 5px;
    margin: 0;
    align-items: flex-start;
    text-align: center;
    display: inline-block;
    padding: 0 20px;
}

#feedback_button {
    position: absolute;
    right: 10px;
    top: 2px;
}
