/* CONTENT */

.simplify {
    /*background-color: #e6ffff,*/
    text-decoration:underline;
    text-decoration-style: dotted;
    /*text-decoration-color: #a44fff;*/
    text-decoration-color: #4CAF50;
}
.simplify:hover {background: #87de87;}

.bad_feedback_icon {
    height: 15px;
    width: 15px;
    /*margin-top: -30px;*/
    margin-left: 5px;
}

.bad_feedback_icon:hover {
    -webkit-filter: drop-shadow(0px 3px 3px #79b3ea);
    filter: drop-shadow(0px 3px 3px #79b3ea);
}

/* lexi INTERFACE */

.container {
    padding: 16px;
}

.lexi {
    color: #000000;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 100000;
    background: #ffffff;
    margin: 0;
}

#lexi_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /*background: #43314b;*/
    border-bottom: 2px solid #4CAF50;
    /*height: 30px;*/
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 50px;
}

/*#lexi_login_form input {*/
    /*color: #000000;*/
    /*width: 95%;*/
    /*background: transparent;*/
    /*border: none;*/
    /*border-bottom: 1px dashed #616161;*/
    /*outline: none;*/
/*}*/

/*#lexi_login_form input:focus {*/
    /*border-bottom: 1px dashed #4CAF50;*/
/*}*/


/*#lexi_login_form .buttons {*/
    /*position: relative;*/
    /*margin-top: 10px;*/
/*}*/

/*#lexi_login_form .buttons button {*/
    /*color: white;*/
    /*width: 95%;*/
    /*padding: 6px;*/
    /*margin-bottom: 5px;*/
/*}*/

#lexi_login_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

#lexi_login_form {
    background-color: #fefefe;
    padding-top: 10px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}


#lexi_login_form input, #lexi_login_form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-width: 800px;
}

#lexi_error_message_field {
    color: #000000;
}

#lexi_logo {
    width: 15%;
    padding-bottom: 20px;
}

.lexi_button {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 30px
}

.lexi_button:hover {
    opacity: 0.8;
}

#lexi_buttons_container {
    text-align: center;
    padding: 16px;
}

#lexi_buttons_container button {
    color: white;
    width: 95%;
    padding: 6px;
    margin-bottom: 5px;
}


#lexi-lang-select {
    /*position: absolute;*/
    /*top: 13px;*/
    /*right: 0;*/
    position: relative;
    right: 0;
    top: 35px;
    float: right;
    float-offset: 0 0;
    width: 50px;
}

/* rought form styles for when JS is disabled */

#lexi-lang-select form {
    width: 180px;
    padding: 0;
}

#lexi-lang-select select,
#lexi-lang-select input {
    display: inline;
    padding: 0;
    margin: 0;
}

/* JS-created definition list */

.dropdown dd { position: relative; }

.dropdown a {
    text-decoration: none;
    outline: 0;
    font: 12px Arial, Helvetica, sans-serif;
    display: block;
    width: 130px;
    overflow: hidden;
}

.dropdown dt a {
    background: #c45618;
    border: 1px solid #964315;
    padding: 3px 10px 4px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
}

.dropdown dt a.active {
    background: #db5e18;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px dotted #676768;
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    box-shadow: 0 3px 7px rgba(0,0,0,.5);
    color: #fff;
}

.dropdown dd ul {
    background: #814f33;
    border: 1px solid #676768;
    color: #C5C0B0;
    display: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 2px 0 5px 0;
    list-style: none;
    border-top: none;
    margin: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    box-shadow: 0 3px 7px rgba(0,0,0,.5);
}

.dropdown dd ul li a {
    padding: 2px 10px;
}

.dropdown dd ul li a span,
.dropdown dt a span {
    float: left;
    width: 16px;
    height: 11px;
    margin: 2px 6px 0 0;
    background-image: url(flags.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.us a span { background-position: 0 0 }
.uk a span { background-position: -16px 0 }
.fr a span { background-position: -32px 0 }
.de a span { background-position: -48px 0 }
.nl a span { background-position: -64px 0 }

.dropdown dd ul li a em,
.dropdown dt a em {
    font-style: normal;
    float: left;
    width: 100px;
    cursor: pointer;
}

.dropdown dd ul li a em {
    color: #dbc3b5;
}

.dropdown dd ul li a:hover { background-color: rgba(255,255,255,.1); }
.dropdown dd ul li a:hover em { color: #fff; }


#feedback_button {
    position: absolute;
    right: 10px;
    top: 2px;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


/* The Close Button */
.close {

    margin-right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
