/* CONTENT */
.lexi-simplify {
    background-color: #b3f4aa;
    color: black;
    /*text-decoration:underline;*/
    /*text-decoration-style: dotted;*/
    /*text-decoration-color: #288520;*/
}
.lexi-simplify:hover {background: #87de87;}

.lexi-simplify[data-displaying-original="true"] {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #079807;
}

.lexi-bad-feedback-icon {
    height: 15px;
    width: 15px;
    margin-top: -5px;
    margin-left: 5px;
    display: inline;
}

.lexi-bad-feedback-icon:hover {
    -webkit-filter: drop-shadow(0px 3px 3px #79b3ea);
    filter: drop-shadow(0px 3px 3px #79b3ea);
}


/* NOTIFICATIONS */
#lexi-notification-container {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 350px;
    max-width: 40%;
    pointer-events: none;
    z-index: 1000001;
}

.lexi-notification {
    width: 100%;
    background-color: #f7f7f7;
    color: black;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin-bottom: 20px;
    padding: 10px;
    pointer-events: all;
    box-shadow: 0 0 10px #888;
}

.lexi-notification .flexbox {
    display: flex;
}

.lexi-notification .lexi-logo {
    width: 15%;
    height: 15%;
    margin-right: 5%;
    /*flex: 1;*/
}

.lexi-notification .lexi-notification-content {
    width: 70%;
    /*flex: 1;*/
    /*float: right;*/
}

#lexi-loading-animation {
    height: 14pt;
    /*vertical-align: middle;*/
}

#lexi-feedback-reminder {
    display: none;
}

.lexi-button {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 100%;
    /*background-color: #4CAF50;*/
    background-color: #74c374;
    color: white;
    padding: 5px 5px;
    margin-top: 12px ;
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    height: 40px;
    line-height: 25px;
    text-transform: none !important;
    text-align: center;
}

.lexi-button:hover {
    opacity: 0.8;
    background-color: #74c374;
}

.lexi-notification .close {
    /*float: right;*/
    color: black;
    width: 5%;
    margin-left: 5%;
    font-size:150%;
    margin-top: -4pt;  /* correct for space above 'x' */
    /*flex: 1;*/
}

/* Close button on hover */
.lexi-notification .close:hover,
.lexi-notification .close:focus {
    color: red;
    cursor: pointer;
}

iframe {
    width: 1px;
    min-width: 100%;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.25s;
    animation: animatezoom 0.25s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/*.lexi-rate-area:not(:checked) > input {*/
    /*position: absolute;*/
    /*top: -9999px;*/
    /*clip: rect(0,0,0,0);*/
/*}*/

/*.lexi-rate-area:not(:checked) > label {*/
    /*float: right;*/
    /*width: 1em;*/
    /*padding: 0 .1em;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*cursor: pointer;*/
    /*font-size: 400%;*/
    /*line-height: 1.2;*/
    /*color: lightgrey;*/
    /*text-shadow: 1px 1px #bbb;*/
/*}*/

/*.lexi-rate-area:not(:checked) > label:before { content: '★ '; }*/

/*.lexi-rate-area > input:checked ~ label {*/
    /*color: gold;*/
    /*text-shadow: 1px 1px #c60;*/
    /*!*font-size: 450% !important;*!*/
/*}*/

/*.lexi-rate-area:not(:checked) > label:hover, .lexi-rate-area:not(:checked) > label:hover ~ label { color: gold; }*/

/*.lexi-rate-area > input:checked + label:hover, .lexi-rate-area > input:checked + label:hover ~ label, .lexi-rate-area > input:checked ~ label:hover, .lexi-rate-area > input:checked ~ label:hover ~ label, .lexi-rate-area > label:hover ~ input:checked ~ label {*/
    /*color: gold;*/
    /*text-shadow: 1px 1px goldenrod;*/
/*}*/

/*.lexi-rate-area > label:active {*/
    /*position: relative;*/
    /*top: 2px;*/
    /*left: 2px;*/
/*}*/
